body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
    font-size: 15px;
    line-height: 1.6;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.container {
    width: 100%;
    max-width: 1300px;
    padding: 0 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffff;
    padding: 40px;
    border-radius: 5px;
}

.left-side{
    width: 55%;
    height: 100%;
    position: relative;
    background: #feeceb;
}

.left-side::before{
    content: "";
    position: absolute;
    height: 80%;
    width: 2px;
    background: #000000;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.left-side{
    width: 40%;
    margin-left: 75px;
}

.topic{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px; 
}

.text-one {
    font-size: 14px;
}

.topic-text {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 10px;
}

.input-box {
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input,
.input-box textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: #f0f1f8;
    padding: 0 20px;
    border-radius: 5px;
}

.input-box textarea{
    resize: none;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

.message-box{
    min-height: 110px;
}

.button{
    display: inline-block;
}

.button input[type="button"] {
    color:#ffff;
    background: #005697;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.2s;
}

.button input[type="button"]:hover {
    background: #003f70;
}

.nav__btnHome{
    display: inline-block;
}

.nav__btnHome input[type="nav__btnHome"] {
    color:#ffff;
    background: #005697;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.2s;
}

.nav__btnHome input[type="nav__btnHome"]:hover {
    background: #003f70;
}
